In [1]:
from ib_insync import *
util.startLoop()

ib = IB()
ib.connect('127.0.0.1', 7497, clientId=23)

In [2]:
contract = Forex("EURUSD")

HISTORICAL TICK DATA

In [3]:
import datetime

start = ''
end = datetime.datetime.now()
ticks = ib.reqHistoricalTicks(contract, start, end, 1000, 'Bid_Ask', useRth=False)

In [4]:
historical_tick_data = util.df(ticks)
historical_tick_data.tail()

,time,tickAttribBidAsk,priceBid,priceAsk,sizeBid,sizeAsk
1007,2019-08-05 19:30:21+00:00,TickAttribBidAsk(),1.11976,1.11978,1000000,3000000
1008,2019-08-05 19:30:21+00:00,TickAttribBidAsk(),1.11976,1.11978,2000000,3000000
1009,2019-08-05 19:30:21+00:00,TickAttribBidAsk(),1.11976,1.11978,3000000,2000000
1010,2019-08-05 19:30:21+00:00,TickAttribBidAsk(),1.11977,1.11978,1000000,1000000
1011,2019-08-05 19:30:22+00:00,TickAttribBidAsk(),1.11977,1.11979,1000000,2000000

TICK BY TICK DATA STREAMING

In [5]:
ticker = ib.reqTickByTickData(contract, 'BidAsk')
print(ticker)

Ticker(contract=Forex('EURUSD', exchange='IDEALPRO'), ticks=[], tickByTicks=[], domBids=[], domAsks=[], domTicks=[])

In [6]:
ticker.tickByTicks

[]

In [9]:
tick_by_tick_data = util.df(ticker.tickByTicks)
tick_by_tick_data = tick_by_tick_data.rename(columns = {"bidPrice": "priceBid", "askPrice": "priceAsk", "bidSize": "sizeBid", "askSize": "sizeAsk"})
tick_by_tick_data

,time,priceBid,priceAsk,sizeBid,sizeAsk,tickAttribBidAsk
0,2019-08-05 19:31:46.679753+00:00,1.11973,1.11974,1000000,1000000,TickAttribBidAsk()

CONCATENATE DATA

In [ ]:
import pandas as pd
concatenate_data = pd.concat([historical_tick_data, tick_by_tick_data], sort = True)
concatenate_data

In [ ]:
historical_tick_data

In [ ]:
tick_by_tick_data

In [ ]:
concatenate_data

In [15]:
tick_by_tick_data

,time,priceBid,priceAsk,sizeBid,sizeAsk,tickAttribBidAsk
0,2019-08-05 19:31:46.679753+00:00,1.11973,1.11974,1000000,1000000,TickAttribBidAsk()